* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	text-align: center;
	background-color: black;
	color: #fff;
}

img {
	display: block;
	width: 480px;
	height: 480px;
	margin: 2rem auto;
}

.App {
	padding: 2rem;
  margin-top: 3em;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
}

input {
	appearance: none;
	outline: none;
	border: none;
	background: #EEE;
	width: 100%;
	max-width: 320px;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

button, a {
  border-radius: 10px;
  padding: 0.2em;
  border-color: blueviolet;
	background: none;
	cursor: pointer;
	color: blueviolet;
	font-size: 1.1rem;
	text-decoration: none;
}
 
footer{
  margin-top: 2em;
}